<h1>{{dayName}}</h1>
<XToggle
    @value={{this.isWorkingDay}}
    @onToggle={{action (mut this.isWorkingDay)}}
    @showLabels={{true}}
    as |toggle|
  >
  <toggle.switch
    @theme='light'
    @onLabel='diff on'
    @offLabel='diff off'
  />
  <toggle.label>Working day</toggle.label>
</XToggle>
{{#if this.isWorkingDay}}
  {{#each filteredOpenings as |op index|}}
    <div class="d-flex">
      <div class="mr-2">
        <TimeInput @value={{op.startTime}} @label="From" @inputId={{concat "opening-from-" index}} @model={{op}} @property="startTime" @focusOut={{action "saveTimeInModel"}} />
      </div>
      <div class="align-self-end mr-2 mb-4">
        <img src="/assets/icons/arrow-right.svg" width="24" height="24" />
      </div>
      <div class="mr-2">
        <TimeInput @value={{op.endTime}} @label="To" @inputId={{concat "opening-to-" index}} @model={{op}} @property="endTime" @focusOut={{action "saveTimeInModel"}} />
      </div>
      <div class="align-self-end mb-4">
        <DeleteButton @onClick={{action "deleteSlot" op}} />
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="row">
    You're off, yasssss!
  </div>
{{/if}}
<BsButton @type="secondary" @onClick={{action "initNewSlot"}} class="btn-block-sm">Add a new slot</BsButton>
<BsButton @type="primary" @onClick={{action "saveOpenings"}} class="btn-block-sm">Save the opening hours</BsButton>