<div class="">
  <ColorPickerOption @color="primary" @selectedColor={{this.value}} @onClick={{fn (mut this.value) preventDefault=false}} />
</div>
<div class="">
  <ColorPickerOption @color="warning" @selectedColor={{this.value}} @onClick={{fn (mut this.value)}} />
</div>
<div class="">
  <ColorPickerOption @color="success" @selectedColor={{this.value}} @onClick={{fn (mut this.value)}} />
</div>
<div class="">
  <ColorPickerOption @color="danger" @selectedColor={{this.value}} @onClick={{fn (mut this.value)}} />
</div>
<div class="">
  <ColorPickerOption @color="info" @selectedColor={{this.value}} @onClick={{fn (mut this.value)}} />
</div>
<div class="">
  <ColorPickerOption @color="purple" @selectedColor={{this.value}} @onClick={{fn (mut this.value)}} />
</div>