<BsNavbar
  @type="light"
  @backgroundColor="white"
  @collapsed={{true}}
  @onCollapse={{action (mut collapsed) true}}
  @onExpand={{action (mut collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Brand{{/link-to}}
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item @linkTo="index">Home</nav.item>
      <nav.item @linkTo="index">Navbars</nav.item>
      <nav.dropdown as |dd|>
        <dd.toggle>Dropdown <span class="caret"></span></dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            {{#ddm.link-to "index"}}Home{{/ddm.link-to}}
          </ddm.item>
          <ddm.item>
            {{#ddm.link-to "demo.navbars"}}Navbars{{/ddm.link-to}}
          </ddm.item>
        </dd.menu>
      </nav.dropdown>
      {{#if session.isAuthenticated}}
        {{this.currentUser.user.email}} <a {{action 'invalidateSession'}}>Logout</a>
      {{else}}
        <nav.item @linkTo="join">Sign up</nav.item>
        <nav.item @linkTo="login">Login</nav.item>
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>