<BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "save"}} as |form|>
  <form.element @controlType="text" @label="Address" @placeholder="" @property="address" />
  <form.element @controlType="text" @label="Address (line 2)" @placeholder="" @property="address2" />
  <form.element @controlType="text" @label="Zip code" @placeholder="10000" @property="zipCode" />
  <form.element @controlType="text" @label="Locality" @placeholder="New York" @property="locality" />
  <div class="form-group">
    <label for="countrySelect">Country</label>
    <PowerSelect
      @options={{this.countries}}
      @selected={{this.selectedCountry}}
      @searchField="name"
      @onchange={{action 'changeCountry'}} as |country|>
      {{country.name}}
    </PowerSelect>
  </div>
  <BsButton @type="primary" @buttonType="submit" class="btn-block-sm mr-lg-2">
    {{#if form.isSubmitting}}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    {{/if}}
    Save address
  </BsButton>
  <LinkTo @route="patients.patient" @model={{this.model}} class="btn btn-tertiary d-none d-sm-inline-block">Cancel</LinkTo>
</BsForm>