<div class="container container-sidebar mx-auto">
  <TopBar>
    <div>
      <LinkTo @route="event.new.wizard"><img src="/assets/icons/arrow-left.svg" alt="" width="24" height="24">
      </LinkTo>
    </div>
    <div>
      {{!-- <LinkTo @route="patients.new" @query={{hash returnURL="event.new.patient"}}><img src="/assets/icons/plus.svg" alt="" width="24" height="24"></LinkTo> --}}
    </div>
  </TopBar>
  <Breadcrumb>
    <li class="breadcrumb-item"><LinkTo @route="event.new.wizard">Back to your event</LinkTo></li>
  </Breadcrumb>
  <h1 class="main-breadcrumb">When is the event</h1>
  <BsAlert
  @visible={{this.isError}}
  @fade={{true}}
  @type="danger"
  @dismissible={{true}}
  @onDismissed={{action "closeAlert"}}>
    {{{this.errorMessage}}}
</BsAlert>
<DatetimeInput @value={{this.model.startTime}} @label="From" @onChange={{fn (mut this.model.startTime)}} />
<DatetimeInput @value={{this.model.endTime}} @label="To" @onChange={{fn (mut this.model.endTime)}} />
<LinkTo @route="event.new.wizard" class="btn btn-primary">Save schedule</LinkTo>
{{!-- <DatetimeInput @value={{op.startTime}} @label="From" @inputId={{concat "opening-from-" index}} @model={{op}} @property="startTime" @focusOut={{action "saveTimeInModel"}} /> --}}
{{!-- <BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "saveEvent"}} as |form|>
  <form.element @controlType="date" @label="From" @placeholder="03.07.1984" @property="startTime" @helpText="Use the format dd.mm.yyyy hh:mm like 24.12.2001 13:25" />
  <form.element @controlType="date" @label="To" @placeholder="03.07.1984" @property="endTime" />
  <BsButton @defaultText="Create your event" @type="primary" @buttonType="submit" />
</BsForm> --}}
</div>