<div class="container container-sidebar mx-auto">
  <TopBar>
    <div>
      <LinkTo @route="patients"><img src="/assets/icons/x.svg" alt="" width="24" height="24"></LinkTo>
    </div>
    {{!-- <div>
      <LinkTo @route="patients.new"><img src="/assets/icons/plus.svg" alt="" width="24" height="24"></LinkTo>
    </div> --}}
  </TopBar>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-0">
      <Breadcrumb>
        <li class="breadcrumb-item">
          <LinkTo @route="patients">All patients</LinkTo>
        </li>
        <li class="breadcrumb-item active">New patient</li>
      </Breadcrumb>
      <h1 class="main-breadcrumb">Create a patient</h1>
      <p>Fill the full name of your patient in the form below.</p>
      <BsAlert @visible={{this.isError}} @fade={{true}} @type="danger" @dismissible={{true}}
        @onDismissed={{action "closeAlert"}}>
        {{{this.errorMessage}}}
      </BsAlert>
      <BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "createPatient"}} as |form|>
        <form.element @controlType="text" @label="Full name" @placeholder="John Doe" @property="fullName" />
        <BsButton @defaultText="Save the patient" @type="primary" @buttonType="submit" class="btn-block-sm mr-sm-2" />
        <LinkTo @route="patients" class="btn btn-tertiary d-none d-sm-inline-block">Cancel</LinkTo>
      </BsForm>
    </div>
  </div>
</div>