<div class="container container-sidebar mx-auto">
  <TopBar>
    <div>
      <LinkTo @route="patients.patient" @model={{this.model.patient}}><img src="/assets/icons/x.svg" alt="" width="24"
          height="24"></LinkTo>
    </div>
  </TopBar>
  <Breadcrumb>
    <li class="breadcrumb-item"><LinkTo @route="patients">All patients</LinkTo></li>
    <li class="breadcrumb-item"><LinkTo @route="patients.patient" @model={{this.model.patient}}>{{this.title}}</LinkTo></li>
    <li class="breadcrumb-item active" aria-current="page">Create a note</li>
  </Breadcrumb>
  <h1 class="main-breadcrumb">New note for {{this.title}}</h1>
  <NoteForm @model={{this.model}} @onSave={{action "redirectToPatient"}} />
</div>