
<TopBar>
  <LinkTo @route="settings.openings"><img src="/assets/icons/x.svg" alt="" width="24" height="24"></LinkTo>
</TopBar>
<h1 class="main">{{dayName}}</h1>
<div class="row">
  <div class="col">
    <BsAlert
      @visible={{this.isError}}
      @fade={{true}}
      @type="danger"
      @dismissible={{true}}
      @onDismissed={{fn (mut this.isError) false}}>
        {{#each this.errors as |error|}}
          {{{error}}}<br />
        {{/each}}
    </BsAlert>
    <XToggle @value={{this.isWorkingDay}} @onToggle={{action (mut this.isWorkingDay)}} @showLabels={{true}} as
      |toggle|>
      <toggle.switch @theme='light' @onLabel='diff on' @offLabel='diff off' />
      <toggle.label>Working day</toggle.label>
    </XToggle>
    {{#if this.isWorkingDay}}
    {{#each filteredOpenings as |op index|}}
    <div class="d-flex">
      <div class="mr-2">
        <TimeInput @value={{op.startTime}} @label="From" @inputId={{concat "opening-from-" index}} @model={{op}}
          @property="startTime" @focusOut={{action "saveTimeInModel"}} />
      </div>
      <div class="align-self-end mr-2 mb-4">
        <img src="/assets/icons/arrow-right.svg" width="24" height="24" />
      </div>
      <div class="mr-2">
        <TimeInput @value={{op.endTime}} @label="To" @inputId={{concat "opening-to-" index}} @model={{op}}
          @property="endTime" @focusOut={{action "saveTimeInModel"}} />
      </div>
      <div class="align-self-end mb-4">
        <DeleteButton @onClick={{action "deleteSlot" op}} />
      </div>
    </div>
    {{#if op.validations.errors}}
      <div class="opening-invalid-feedback invalid-feedback d-block">
        {{op.validations.messages}}
      </div>
    {{/if}}
    {{/each}}
    {{else}}
    <div class="row py-5">
      <div class="col">
        <p class="text-center"><img src="/assets/icons/sun.svg" alt="" width="48" height="48" /></p>
        <p class="text-center">You're off, yasssss!</p>
      </div>
    </div>
    {{/if}}
    <BsButton @type="secondary" @onClick={{action "initNewSlot"}} class="btn-block-sm btn-tertiary">Add a new slot
    </BsButton>
    <div class="page-actions">
      <BsButton @type="primary" @disabled={{if this.invalidOpenings true false}} @onClick={{action "saveOpenings"}} class="btn-block-sm d-sm-block mr-sm-2">Save the opening
        hours</BsButton><LinkTo @route="settings.openings" class="btn btn-tertiary d-none d-sm-inline-block">Cancel</LinkTo>
    </div>
  </div>
</div>