<TopBar>
  <LinkTo @route="settings"><img src="/assets/icons/arrow-left.svg" alt="" width="24" height="24"></LinkTo>
</TopBar>
<h1 class="main">Opening hours</h1>
<div class="row">
  <div class="col-lg-5 col-sm-6 order-sm-1">
    <OpeningHoursCard @openingDay={{monday}} />
  </div>
  <div class="col-lg-5 col-sm-6 order-sm-3">
    <OpeningHoursCard @openingDay={{tuesday}} />
  </div>
  <div class="col-lg-5 col-sm-6 order-sm-5">
    <OpeningHoursCard @openingDay={{wednesday}} />
    <OpeningHoursCard @openingDay={{thursday}} />
    <OpeningHoursCard @openingDay={{friday}} />
  </div>
  <div class="col-lg-5 col-sm-6 order-sm-2 offset-lg-1">
    <OpeningHoursCard @openingDay={{saturday}} />
  </div>
  <div class="col-lg-5 col-sm-6 order-sm-4 offset-lg-1">
    <OpeningHoursCard @openingDay={{sunday}} />
  </div>
  <div class="w-100 d-none d-sm-block"></div>
</div>