<h1>{{this.model.fullName}}</h1>
<h2>Address</h2>
<div>
{{this.model.address}},
{{if this.model.address2 (concat this.model.address2 ", ")}}
{{this.model.zipCode}} {{this.model.locality}}
</div>
<LinkTo @route="patients.patient.address" @model={{this.model}}>Edit address</LinkTo>