<BsModal @open={{this.confirmArchiveModal}} @position="center" @onSubmit={{action "archivePatient"}}
  @onHidden={{action (mut confirmArchiveModal) false}} as |modal|>
  <modal.header>
    <h4 class="modal-title">Archive {{this.model.fullName}}</h4>
  </modal.header>
  <modal.body>
    <p>If you click on Archive, your patient will be archived and you won't be able to create new events for him or her
      anymore.</p>
  </modal.body>
  <modal.footer>
    <BsButton @type="danger" @onClick={{action modal.submit}}>Archive</BsButton>
    <BsButton class="btn-tertiary" @onClick={{action modal.close}}>Cancel</BsButton>
  </modal.footer>
</BsModal>
<div class="container container-sidebar mx-auto">
  <TopBar>
    <div>
      <LinkTo @route="patients"><img src="/assets/icons/arrow-left.svg" alt="" width="24" height="24">
      </LinkTo>
    </div>
    <div>
      <BsDropdown as |dd|>
        <dd.toggle>
          <img src="/assets/icons/more-vertical.svg" width="24" height="24" alt="More actions" />
        </dd.toggle>
        <dd.menu @align="right" as |menu|>
          <menu.item>
            <a href="#" {{action (mut confirmArchiveModal) true}}>Archive</a>
          </menu.item>
        </dd.menu>
      </BsDropdown>
    </div>
  </TopBar>
  <Breadcrumb>
    <li class="breadcrumb-item">
      <LinkTo @route="patients">All patients</LinkTo>
    </li>
    <li class="breadcrumb-item active">{{this.model.fullName}}</li>
  </Breadcrumb>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1 class="main-breadcrumb">{{this.model.fullName}}</h1>
    </div>
    <div class="d-none d-lg-block">
      <BsDropdown as |dd|>
        <dd.button class="dropdown-more mr-2">
          More
        </dd.button>
        <dd.menu as |menu|>
          {{#if this.model.phone}}
          <menu.item>
            <menu.link-to @route="index">Call</menu.link-to>
          </menu.item>
          {{/if}}
          {{#if this.model.email}}
          <menu.item>
            <a href="mailto:{{this.model.email}}" class="dropdown-item">Send an email</a>
          </menu.item>
          {{/if}}
          <menu.divider></menu.divider>
          <menu.item>
            <a href="#" onClick={{action (mut confirmArchiveModal) true}} class="dropdown-item text-danger">Archive</a>
          </menu.item>
        </dd.menu>
      </BsDropdown><LinkTo @route="event.new.wizard" class="btn btn-primary">Book an event</LinkTo>
    </div>
  </div>
  <div class="d-flex align-items-lg-center flex-column flex-lg-row mb-4">
    <div class="mb-2 mr-auto">
      <h4>Details</h4>
      {{this.model.fullName}}<br />
      {{#if this.model.birthday}}
        {{format-date this.model.birthday}}<br />
      {{/if}}
    </div>
    <div class="mb-2 w-lg-auto">
      <LinkTo @route="patients.patient.details" @model={{this.model}} class="btn btn-tertiary btn-block-sm">Edit details</LinkTo>
    </div>
  </div>
  <div class="d-flex align-items-lg-center flex-column flex-lg-row">
    <div class="mb-2 mr-auto">
      <h4>Address</h4>
      {{this.model.address}}<br />
      {{#if this.model.address2}}
        {{this.model.address2}}<br />
      {{/if}}
      {{this.model.zipCode}} {{this.model.locality}}<br />{{this.model.country}}
    </div>
    <div class="mb-2 w-lg-auto">
      <LinkTo @route="patients.patient.address" @model={{this.model}} class="btn btn-tertiary btn-block-sm">Edit address</LinkTo>
    </div>
  </div>
</div>