<TopBar>
  <div>
    <LinkTo @route="patients.patient" @model={{this.model}}><img src="/assets/icons/x.svg" alt="" width="24"
        height="24"></LinkTo>
  </div>
</TopBar>
<div class="row justify-content-center mt-lg-5">
  <div class="col-md-6">
    <Breadcrumb>
      <li class="breadcrumb-item"><LinkTo @route="index">Homepage</LinkTo></li>
      <li class="breadcrumb-item active" aria-current="page">Registration</li>
    </Breadcrumb>
    <h1 class="main-breadcrumb">Join PUNKTLI today</h1>
    <p>Already registered? <LinkTo @route="login">Login</LinkTo></p>
    <BsAlert
      @visible={{this.isError}}
      @fade={{true}}
      @type="danger"
      @dismissible={{true}}
      @onDismissed={{action "closeAlert"}}>
        {{{this.errorMessage}}}
    </BsAlert>
    <BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "createAccountAndUser"}} as |form|>
      <form.element @controlType="text" @label="Company" @placeholder="ACME inc." @property="companyName" />
      <form.element @controlType="text" @label="Your name" @placeholder="John Doe" @property="fullName" />
      <form.element @controlType="email" @label="Email" @placeholder="Email" @property="email" />
      <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" @helpText="Minimum 6 characters" />
      <BsButton @defaultText="Join now" @type="primary" @buttonType="submit" class="btn-block-sm" />
    </BsForm>
  </div>
</div>
